body {
    padding-top: 50px;
    padding-bottom: 20px;

}

.navbar-inverse {
    background-color: #3598D4;
}
   

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.separador {
     padding-left:69px;
      padding-right: 15px;
    color:white;
 background-color: #3598D4;
}


.titulos {
     padding-left:55px;
}
.control-label {
    text-align:right;
}
.display-label, 
.editor-label 
{
      display:inline-block;
      width: 200px;    
      text-align: right;   
      margin-right: 10px;

}

.display-field, 
.editor-field 
{
    display:inline-block;
     margin: 0.5em 0 0 0;
}